data/conv_layers_1_5/trt/*
data/remaining_conv_1_10/trt/*
data/expanded_high_mac/trt/*
data/expanded_high_mac/onnx/*
new_onnx_models6/*
high_mac_model_info9.csv
real_onnx_models/*
tmpdir/*
data/mixed_kernel_models/onnx/*
data/mixed_kernel_models/trt/*
data/mixed_kernel_models_5/onnx/*
data/mixed_kernel_models_5/trt/*
fixed/
data/real_data/output/*.trt
data/real_data/onnx
data/mixed_kernel_models_L5/models/*
data/mixed_kernel_models_L2/models/*
tmp_output/*
data/mixed_kernel_L11_L20/models/*
data/expanded_high_mac/models/*
data/expanded_high_mac_2/models/*
data/*/models/*
data/*/trt/*
new_data/*/onnx/*
tmp/*